<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/style.css"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <nav>
            <a href="/">home.</a> |
            <a href="/about/">about me.</a> |
            <a href="/lorem.html">ugly latin.</a> |
            <a href="/restaurants">restaurants.</a>
        </nav>
        {{{body}}}
        <nav>
            <a href="/">home.</a> |
            <a href="/about/">about me.</a> |
            <a href="/lorem.html">ugly latin.</a> |
            <a href="/restaurants">restaurants.</a>
        </nav>
    </body>
</html>
