<header><h1>about me.</h1></header>

<article class="article1">
    <h2>a bit about me.</h2>
    <p>
        my name is {{name.first}} {{name.last}} and i come from {{place}}. Nam vel interdum erat, vitae viverra eros. Nulla facilisi. Vestibulum a ipsum justo. Cras fermentum eu enim vel suscipit. Pellentesque felis neque, pellentesque sed nunc eu, vestibulum accumsan odio. Etiam lectus nibh, feugiat at lobortis nec, cursus id turpis. Etiam lectus ex, pretium quis consequat ac, pretium eget nulla. Donec vel pulvinar sem, in tempus sapien. Curabitur eu volutpat risus. Nunc dapibus est non nibh efficitur, eget facilisis nibh sollicitudin. Aenean in augue tincidunt, finibus sem sit amet, volutpat neque. Integer ornare diam sit amet quam accumsan, sit amet rhoncus sapien egestas. In pulvinar convallis mattis. Morbi ac felis nec urna molestie tempus.
<br><br>
Etiam quis vestibulum est. Donec suscipit felis condimentum dignissim feugiat. Nam malesuada velit eros, ac gravida risus luctus bibendum. Curabitur dignissim suscipit malesuada. Pellentesque interdum mi vitae massa porttitor laoreet. Duis volutpat nunc vitae fermentum faucibus. Maecenas porttitor accumsan quam in tempor. Nunc non velit consequat, consectetur metus nec, commodo orci. Cras luctus tellus vitae enim ultrices, vel pharetra leo scelerisque. Vivamus ut erat in leo porttitor ornare. Proin quis eros leo. Pell
    </p>
</article>

<article class="article1">
<h2>a dog i don't own.</h2>
    <p>i don't have a dog but if i did i would probably have one like this</p>
    <img src="/248348-1600x1065-standing-pomeranian-dog.jpg" alt="pomeranian" style="width:500px;">
</article>
